@import '../../../shared/scss/index';

#header {
    position: relative;
    text-align: center;
    background-image: url('/img/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;;
    z-index: 1;

    @include for-desktop {
        background-position: center;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .typography {
        color: white;
    }

    .hero-head {
        color: white;
        background: linear-gradient(to bottom,
            rgba(0, 0, 0, .9) 0%,
            rgba(0, 0, 0, 0) 100%
        );

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 1rem;

            @mixin for-desktop() {
                max-width: 1024px;
                padding: 1rem 2rem;
            }
        }

        img {
            max-width: 172px;
        }

        .phone {
            font-size: 13px;
            color: inherit;

            &:hover {
                background-color: rgba(255, 255, 255, .1);
            }
        }

        .whatsapp-button {
            display: none;
        }

        @include for-desktop() {
            img {
                max-width: 220px;
            }

            .phone {
                font-size: 16px;
            }

            .whatsapp-button {
                display: inline-block;
                text-transform: none;
            }
        }
    }

    .hero-body {
        padding: 1rem;

        .title {
            font-weight: normal;
            font-size: 0.9rem;
            margin-bottom: 1rem;
            margin-top: 12rem;
            text-transform: uppercase;
        }

        .subtitle {
            font-size: 2rem;
            line-height: 1.1;
            margin: 0;
        }

        @include for-desktop() {
            .title {
                font-size: 1.8rem;
                margin-top: 18rem;
                margin-bottom: 2rem;
            }

            .subtitle {
                font-size: 2.8rem;
            }
        }
    }

    .hero-foot {
        margin-top: auto;
        width: 100%;
        padding: 1rem 1rem 2rem;
        background: linear-gradient(to top,
            rgba(0, 0, 0, .7) 0%,
            rgba(0, 0, 0, 0) 100%
        );

        .typography {
            font-size: 1.2rem;

            span {
                font-weight: bold;
                padding: 0 .25em .2em;
                border-radius: 5px;
                background-color: rgba(108, 22, 123, .6);
            }
        }

        @include for-desktop() {
            padding: 1rem 1rem 2rem;

            .typography {
                font-size: 2rem;
            }
        }
    }
}

#audience {    
    
}

#lesson-how,
#lesson-what {
    @include for-gt($tablet-size) {
        .media-list {
            display: flex;
            flex-wrap: wrap;
            max-width: 1024px;

            .media {
                flex-basis: 50%;
                margin: 0;
                padding: 1rem;
            }
        }
    }
}

#lesson-what {
    background-color: #ede9fb;

    .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 1024px;
        margin: auto;
    }

    .title {
        width: 100%;
        text-align: center;
    }

    .background-image {
        display: flex;
        width: 100%;
        flex-direction: column;
        background-size: cover;
        background-position: center;
        background-image: url('/img/lesson.jpg');
        background-repeat: no-repeat;
        margin-bottom: 0;

        @include for-mobile {
            height: 226px;
        }

        @include for-tablet {
            height: 300px;
        }

        @include for-desktop {
            height: 365px;
        }
    }

    .media-list {
        margin-bottom: 0;
    }

    @include for-mobile() {
        .title {
            order: 1;
        }

        .background-image {
            margin-bottom: 2rem;
        }

        .media-list {
            order: 2;
        }
    }
}

#about {
    padding-bottom: 0;
    
    p.lead {
        margin-top: 2rem;
    }
}

#teachers {
    .media-list {
        display: flex;
        flex-wrap: wrap;
        max-width: 720px;

        .media {
            flex: 1;
            margin: 0;
            padding: 0;
            flex-basis: 100%;

            @include for-gt($mobile-size) {
                flex-basis: 50%;
            }

            @include for-gt($tablet-size) {
                flex-basis: 33%;
            }
        }
    }

    .card {
        position: relative;
        width: 100%;
        margin: 8px;

        .card-image {
            width: 100%;
        }

        .card-content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.8));
            padding: 16px;
            
            .title,
            .subtitle {
                color: white;
                font-size: 24px;
                display: block;
                margin-bottom: 0;
                text-align: left;
            }
        }

        &::after {
            content: '▸';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000;
            color: white;
            font-size: 128px;
            opacity: 0;
            transition: all .3s;
        }

        &:hover {
            &::after {
                opacity: .25;
            }
        }
    }
}

#gallery {
    background-color: #ede1e1;
    background-image: url('/img/pattern.png');
    background-size: 256px;

    @include for-mobile() {
        padding-bottom: 0;
    }

    .carousel {
        max-width: 400px;
        margin: auto;

        @include for-mobile() {
            margin-left: -1rem;
            margin-right: -1rem;
        }

        .slick-slide {
            text-align: center;

            img {
                display: inline-block;
            }
        }
    }
}

#video {
    .video {
        position: relative;
        display: block;
        margin-top: 2rem;
        margin-left: -1rem;
        margin-right: -1rem;
        margin-bottom: 2rem;
        padding: 0;
        overflow: hidden;

        @media (min-width: $desktop-size) {
            max-width: 720px;
            margin-left: auto;
            margin-right: auto;
        }

        &:before {
            content: "";
            display: block;
            padding-top: 56.25%;
        }

        iframe {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    .subtitle {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .button {
        margin-top: 2rem;
    }
}

#contacts {
    .media-list {
        max-width: 425px;

        .media {
            .icon {
                .fa {
                    font-size: 2rem;
                }

                svg {
                    width: 32px;

                    path {
                        fill: dodgerblue;
                    }
                }
            }
        }
    }
}

#lesson {
    .info-block:last-of-type {
        margin-bottom: 0;
    }
}

#form {
    background-color: #ede1e1;

    .title {
        margin-bottom: 1rem;
    }

    form {
        max-width: 400px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #timer {
        margin-top: 2rem;

        .tag {
            margin-top: 1rem;
        }
    }
}

#footer {
    background-color: #343434;
    color: white;
    text-align: center;

    .title,
    .subtitle {
        color: white;
    }

    .button {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    a:not(.button) {
        color: #b5b5b5;

        &:hover {
            color: #dbdbdb;
        }
    }
}

.call-to-action.call-to-action--fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: initial;
    z-index: 100;
    box-shadow: 0 0px 6px 4px rgba(0,0,0,.2);
    border-radius: 0;

    @media (min-width: $desktop-size) {
        display: none;
    }
}

#dialog {
    .modal-card {
        height: 100%;
    }

    .modal-card-body {
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}