@import './mixins';

.button {
    white-space: normal;
    text-transform: uppercase;
    height: auto;
    max-width: 400px;
    //padding: .75rem 1.25rem;
    margin: auto;

    &.is-outlined {
        //font-weight: bold;
        border-width: 1px;
    }
}

.section {
    padding: 2.5rem 1rem;

    .title {
        font-size: 1.4rem;
        margin-bottom: 1em;
        line-height: 1.5;
        font-weight: bold;
        text-align: center;

        @include for-mobile {
            line-height: 1.2;
        }
        
        @include for-desktop {
            font-size: 2rem;
        }

        &:not(.is-spaced) + .subtitle {
            margin-top: 0;
        }
    }

    .subtitle {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: center;
    }

    &.section-dark {
        background-color: #584d61;
        color: white;

        .title,
        .subtitle {
            color: white;
        }
    }
}

.typography {
    strong {
        color: white;
    }
}

.lead {
    font-size: 1.25rem;
}

.media-list {
    width: 100%;
    max-width: 640px;
    margin: 2rem auto;

    .media {
        justify-items: center;
    
        .image {
            width: 36px;
            height: 36px;
        }
    
        + .media {
            border-top: none;
        }
    }

    @media (min-width: 1024px) {
        .media {
            .image {
                width: 42px;
                height: 42px;
            }
    
            .media-content {
                font-size: 1.2rem;
            }
        }
    }
}

.background-image {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        z-index: -1;
    }
}