$desktop-size: 1024px;
$tablet-size: 768px;
$mobile-size: 425px;

@mixin for-mobile() {
    @media (max-width: $mobile-size) {
        @content;
    }
}

@mixin for-tablet() {
    @media (min-width: $tablet-size + 1) and (max-width: $desktop-size - 1) {
        @content;
    }
}

@mixin for-desktop() {
    @media (min-width: $desktop-size) {
        @content;
    }
}